/*Colours
Eggshell: #F4F1DE
Burnt Sienna: #E07A5F
Delft Blue: #3D405B
Cambridge Blue: #81B29A
Sunset: #F2CC8F
*/

*{
    margin: 0;
    padding: 0;
    font-family: lucida;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: #F4F1DE;
}

section {
    height: calc(100vh-80px);
}

.container{
    width: 100%;
    min-height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*desktop navbar*/

nav{
    background-color: #E07A5F;
    height: 80px;
    width: 100%;
}

label.logo{
    font-size: 50px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color:#ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
}

/* toggle navbar */

a.active, a:hover{
    background-color:#9b5542af;
    transition: .5s;
}

.menubtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#menu{
    display: none;
}


/* home page */

#home .container {
    padding-top: 20px;
}

#home .container .labels{
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2vh;
}

#home h1{
    color: #3D405B;
    font-size: 60px;
    font-weight: bold;
}

#home p{
    color: #3D405B;
    font-size: 30px;
    padding-top: 20px;
} 


#home .containter .row{
    width: 100%;
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2vh;
}

.column{
    float: left;
    justify-content: center;
    align-items: center;
    position: inherit;
    padding: 10px;
}

.left {
    width: 30%;
    
    }

.centre {
    width: 50%;
    }

.right{
    width: 20%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* progress/timer */
.progressbar{
    width: 90%;
    height: 25px;
    background: #3D405B;
    margin-bottom: 10px;
}

.progress{
    float: right;
    background: #cbcfdb;
    position: relative;
    width: 100%;
    height: 100%;

}

.centre .startbtn{
    padding: 20px;
    width: 30%;
    font-size: 20px;
    color: white;
    background-color: #3D405B;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
}

/* mobile*/


@media(max-width: 860px){
    .menubtn{
        display: block;    
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #F4F1DE;
        top: 80px;
        left: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #F4F1DE;
    }

    #check:checked ~ ul{
        left: 0;
    }
}


@media(max-width: 952px){
    label.logo{
        font-size: 25px;
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 18px;
    }
}

@media screen and (max-width: 860px) {
    .column {
      width: 100%;
    }
  }

